<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.tnevi">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.app.tnevi.Chooseyoulike"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.Notification"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.Editseat"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.Aboutus"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.QRcode"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.FAQ"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.Contactsupport"
            android:exported="true" />
        <activity
            android:name="com.app.tnevi.Ratenow"
            android:exported="true" />
        <activity android:name="com.app.tnevi.Viewallcategory" />
        <activity android:name="com.app.tnevi.Cashouthistory" />
        <activity android:name="com.app.tnevi.Ticketsales" />
        <activity android:name="com.app.tnevi.Ticketdetails" />
        <activity android:name="com.app.tnevi.Editevent2" />
        <activity android:name="com.app.tnevi.Editevent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vlemonn.blog.captureimage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.tnevi.Arrangeseats" />
        <activity android:name="com.app.tnevi.Updatepassword" />
        <activity android:name="com.app.tnevi.Passwordchange" />
        <activity android:name="com.app.tnevi.Emailverification2" />
        <activity android:name="com.app.tnevi.Forgetpassword" />
        <activity android:name="com.app.tnevi.Emailverification" />
        <activity android:name="com.app.tnevi.Checkoutpaymentmethod" />
        <activity android:name="com.app.tnevi.Checkoutpaymentoption" />
        <activity android:name="com.app.tnevi.Checkoutaddbankacc" />
        <activity android:name="com.app.tnevi.Checkoutbankinfo" />
        <activity android:name="com.app.tnevi.Checkoutpaymentinfo" />
        <activity android:name="com.app.tnevi.Checkoutaddress" />
        <activity android:name="com.app.tnevi.Pricedetails" />
        <activity android:name="com.app.tnevi.Gallerybooking" />
        <activity android:name="com.app.tnevi.Comissiondetails" />
        <activity android:name="com.app.tnevi.Eventgeneraldetails" />
        <activity android:name="com.app.tnevi.Featuread" />
        <activity android:name="com.app.tnevi.Ticketsalesreport" />
        <activity android:name="com.app.tnevi.Commissionsearned" />
        <activity android:name="com.app.tnevi.Eventdetails" />
        <activity android:name="com.app.tnevi.Adcongrats" />
        <activity android:name="com.app.tnevi.EventimageuploadActivity" />
        <activity android:name="com.app.tnevi.Eventbaneerad" />
        <activity android:name="com.app.tnevi.Eventcost" />
        <activity android:name="com.app.tnevi.Eventdescription" />
        <activity android:name="com.app.tnevi.Addeventdetails" />
        <activity android:name="com.app.tnevi.Selectevent" />
        <activity android:name="com.app.tnevi.Allcategory" />
        <activity android:name="com.app.tnevi.Viewrewards" />
        <activity android:name="com.app.tnevi.Buyepoint" />
        <activity android:name="com.app.tnevi.Epointhistory" />
        <activity android:name="com.app.tnevi.Sellingticket" />
        <activity android:name="com.app.tnevi.Favticket" />
        <activity android:name="com.app.tnevi.Soldticket" />
        <activity android:name="com.app.tnevi.Mytickets" />
        <activity android:name="com.app.tnevi.Events" />
        <activity android:name="com.app.tnevi.Settings" />
        <activity android:name="com.app.tnevi.Profile" />
        <activity android:name="com.app.tnevi.Wallet" />
        <activity android:name="com.app.tnevi.Search" />
        <activity android:name="com.app.tnevi.Search2" />
        <activity android:name="com.app.tnevi.Registration" />
        <activity android:name="com.app.tnevi.Login" />
        <activity android:name="com.app.tnevi.Comissionsales" />
        <activity android:name="com.app.tnevi.Splash" />



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOM8iPJeA6CXiCOpQU8XJ5MImxYtScbW4" /> <!-- pay pal server decler -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" /> <!-- end -->
        <activity
            android:name="com.app.tnevi.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.tnevi.MainActivity" />


        <service android:name=".fcm.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9238447102279900~9532667711"/>

    </application>

</manifest>