<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.tnevi">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Editpaypal"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Plancheckout"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Epointcheckout"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_checkout"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Chooseyoulike"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Notification"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Editseat"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Aboutus"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QRcode"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FAQ"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Contactsupport"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ratenow"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".Viewallcategory"
            android:screenOrientation="portrait"/>
        <activity android:name=".Cashouthistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ticketsales"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ticketdetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Editevent2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Editevent"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vlemonn.blog.captureimage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Arrangeseats"
            android:screenOrientation="portrait"/>
        <activity android:name=".Updatepassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".Passwordchange"
            android:screenOrientation="portrait"/>
        <activity android:name=".Emailverification2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Forgetpassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".Emailverification"
            android:screenOrientation="portrait"/>
        <activity android:name=".Checkoutpaymentmethod"
            android:screenOrientation="portrait"/>
        <activity android:name=".Checkoutpaymentoption"
            android:screenOrientation="portrait"/>
        <activity android:name=".Checkoutaddbankacc"
            android:screenOrientation="portrait"/>
        <activity android:name=".Checkoutbankinfo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Checkoutpaymentinfo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Checkoutaddress"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pricedetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Gallerybooking"
            android:screenOrientation="portrait"/>
        <activity android:name=".Comissiondetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Eventgeneraldetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Featuread"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ticketsalesreport"
            android:screenOrientation="portrait"/>
        <activity android:name=".Commissionsearned"
            android:screenOrientation="portrait"/>
        <activity android:name=".Eventdetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Adcongrats"
            android:screenOrientation="portrait"/>
        <activity android:name=".EventimageuploadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Eventbaneerad"
            android:screenOrientation="portrait"/>
        <activity android:name=".Eventcost"
            android:screenOrientation="portrait"/>
        <activity android:name=".Eventdescription"
            android:screenOrientation="portrait"/>
        <activity android:name=".Addeventdetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Selectevent"
            android:screenOrientation="portrait"/>
        <activity android:name=".Allcategory"
            android:screenOrientation="portrait"/>
        <activity android:name=".Viewrewards"
            android:screenOrientation="portrait"/>
        <activity android:name=".Buyepoint"
            android:screenOrientation="portrait"/>
        <activity android:name=".Epointhistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sellingticket"
            android:screenOrientation="portrait"/>
        <activity android:name=".Favticket"
            android:screenOrientation="portrait"/>
        <activity android:name=".Soldticket"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mytickets"
            android:screenOrientation="portrait"/>
        <activity android:name=".Events"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Wallet"
            android:screenOrientation="portrait"/>
        <activity android:name=".Search"
            android:screenOrientation="portrait"/>
        <activity android:name=".Search2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registration"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".Comissionsales"
            android:screenOrientation="portrait"/>
        <activity android:name=".Splash"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOM8iPJeA6CXiCOpQU8XJ5MImxYtScbW4" /> <!-- pay pal server decler -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" /> <!-- end -->
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:name=".fcm.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9238447102279900~9532667711" />
    </application>

</manifest>